<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @comment18.content %>
</p>

<p>
  <strong>Post:</strong>
  <%= @comment18.post %>
</p>

<p>
  <strong>Something:</strong>
  <%= @comment18.something %>
</p>

<p>
  <strong>Somethingelse:</strong>
  <%= @comment18.somethingelse %>
</p>

<p>
  <strong>Something more:</strong>
  <%= @comment18.something_more %>
</p>

<%= link_to 'Edit', edit_comment18_path(@comment18) %> |
<%= link_to 'Back', comment18s_path %>
