<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @comment4.content %>
</p>

<p>
  <strong>Post:</strong>
  <%= @comment4.post %>
</p>

<p>
  <strong>Something:</strong>
  <%= @comment4.something %>
</p>

<p>
  <strong>Somethingelse:</strong>
  <%= @comment4.somethingelse %>
</p>

<p>
  <strong>Something:</strong>
  <%= @comment4.something %>
</p>

<p>
  <strong>More:</strong>
  <%= @comment4.more %>
</p>

<%= link_to 'Edit', edit_comment4_path(@comment4) %> |
<%= link_to 'Back', comment4s_path %>
