<p id="notice"><%= notice %></p>

<h1>Listing Comment10s</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Post</th>
      <th>Something</th>
      <th>Somethingelse</th>
      <th>Something</th>
      <th>More</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comment10s.each do |comment10| %>
      <tr>
        <td><%= comment10.content %></td>
        <td><%= comment10.post %></td>
        <td><%= comment10.something %></td>
        <td><%= comment10.somethingelse %></td>
        <td><%= comment10.something %></td>
        <td><%= comment10.more %></td>
        <td><%= link_to 'Show', comment10 %></td>
        <td><%= link_to 'Edit', edit_comment10_path(comment10) %></td>
        <td><%= link_to 'Destroy', comment10, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment10', new_comment10_path %>
