<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @comment10.content %>
</p>

<p>
  <strong>Post:</strong>
  <%= @comment10.post %>
</p>

<p>
  <strong>Something:</strong>
  <%= @comment10.something %>
</p>

<p>
  <strong>Somethingelse:</strong>
  <%= @comment10.somethingelse %>
</p>

<p>
  <strong>Something:</strong>
  <%= @comment10.something %>
</p>

<p>
  <strong>More:</strong>
  <%= @comment10.more %>
</p>

<%= link_to 'Edit', edit_comment10_path(@comment10) %> |
<%= link_to 'Back', comment10s_path %>
