<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @comment13.content %>
</p>

<p>
  <strong>Post:</strong>
  <%= @comment13.post %>
</p>

<p>
  <strong>Something:</strong>
  <%= @comment13.something %>
</p>

<p>
  <strong>Somethingelse:</strong>
  <%= @comment13.somethingelse %>
</p>

<p>
  <strong>Something more:</strong>
  <%= @comment13.something_more %>
</p>

<%= link_to 'Edit', edit_comment13_path(@comment13) %> |
<%= link_to 'Back', comment13s_path %>
