<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @comment7.content %>
</p>

<p>
  <strong>Post:</strong>
  <%= @comment7.post %>
</p>

<p>
  <strong>Something:</strong>
  <%= @comment7.something %>
</p>

<p>
  <strong>Somethingelse:</strong>
  <%= @comment7.somethingelse %>
</p>

<p>
  <strong>Something:</strong>
  <%= @comment7.something %>
</p>

<p>
  <strong>More:</strong>
  <%= @comment7.more %>
</p>

<%= link_to 'Edit', edit_comment7_path(@comment7) %> |
<%= link_to 'Back', comment7s_path %>
