<p id="notice"><%= notice %></p>

<h1>Listing Comment9s</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Post</th>
      <th>Something</th>
      <th>Somethingelse</th>
      <th>Something</th>
      <th>More</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comment9s.each do |comment9| %>
      <tr>
        <td><%= comment9.content %></td>
        <td><%= comment9.post %></td>
        <td><%= comment9.something %></td>
        <td><%= comment9.somethingelse %></td>
        <td><%= comment9.something %></td>
        <td><%= comment9.more %></td>
        <td><%= link_to 'Show', comment9 %></td>
        <td><%= link_to 'Edit', edit_comment9_path(comment9) %></td>
        <td><%= link_to 'Destroy', comment9, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment9', new_comment9_path %>
