<%= form_for(@comment5) do |f| %>
  <% if @comment5.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment5.errors.count, "error") %> prohibited this comment5 from being saved:</h2>

      <ul>
      <% @comment5.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :post_id %><br>
    <%= f.text_field :post_id %>
  </div>
  <div class="field">
    <%= f.label :something %><br>
    <%= f.number_field :something %>
  </div>
  <div class="field">
    <%= f.label :somethingelse %><br>
    <%= f.text_field :somethingelse %>
  </div>
  <div class="field">
    <%= f.label :something %><br>
    <%= f.text_field :something %>
  </div>
  <div class="field">
    <%= f.label :more %><br>
    <%= f.text_field :more %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
