<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @comment5.content %>
</p>

<p>
  <strong>Post:</strong>
  <%= @comment5.post %>
</p>

<p>
  <strong>Something:</strong>
  <%= @comment5.something %>
</p>

<p>
  <strong>Somethingelse:</strong>
  <%= @comment5.somethingelse %>
</p>

<p>
  <strong>Something:</strong>
  <%= @comment5.something %>
</p>

<p>
  <strong>More:</strong>
  <%= @comment5.more %>
</p>

<%= link_to 'Edit', edit_comment5_path(@comment5) %> |
<%= link_to 'Back', comment5s_path %>
