<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @comment12.content %>
</p>

<p>
  <strong>Post:</strong>
  <%= @comment12.post %>
</p>

<p>
  <strong>Something:</strong>
  <%= @comment12.something %>
</p>

<p>
  <strong>Somethingelse:</strong>
  <%= @comment12.somethingelse %>
</p>

<p>
  <strong>Something more:</strong>
  <%= @comment12.something_more %>
</p>

<%= link_to 'Edit', edit_comment12_path(@comment12) %> |
<%= link_to 'Back', comment12s_path %>
