<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @comment11.content %>
</p>

<p>
  <strong>Post:</strong>
  <%= @comment11.post %>
</p>

<p>
  <strong>Something:</strong>
  <%= @comment11.something %>
</p>

<p>
  <strong>Somethingelse:</strong>
  <%= @comment11.somethingelse %>
</p>

<p>
  <strong>Something more:</strong>
  <%= @comment11.something_more %>
</p>

<%= link_to 'Edit', edit_comment11_path(@comment11) %> |
<%= link_to 'Back', comment11s_path %>
