<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @comment20.content %>
</p>

<p>
  <strong>Post:</strong>
  <%= @comment20.post %>
</p>

<p>
  <strong>Something:</strong>
  <%= @comment20.something %>
</p>

<p>
  <strong>Somethingelse:</strong>
  <%= @comment20.somethingelse %>
</p>

<p>
  <strong>Something more:</strong>
  <%= @comment20.something_more %>
</p>

<%= link_to 'Edit', edit_comment20_path(@comment20) %> |
<%= link_to 'Back', comment20s_path %>
