<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @comment8.content %>
</p>

<p>
  <strong>Post:</strong>
  <%= @comment8.post %>
</p>

<p>
  <strong>Something:</strong>
  <%= @comment8.something %>
</p>

<p>
  <strong>Somethingelse:</strong>
  <%= @comment8.somethingelse %>
</p>

<p>
  <strong>Something:</strong>
  <%= @comment8.something %>
</p>

<p>
  <strong>More:</strong>
  <%= @comment8.more %>
</p>

<%= link_to 'Edit', edit_comment8_path(@comment8) %> |
<%= link_to 'Back', comment8s_path %>
