<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @comment16.content %>
</p>

<p>
  <strong>Post:</strong>
  <%= @comment16.post %>
</p>

<p>
  <strong>Something:</strong>
  <%= @comment16.something %>
</p>

<p>
  <strong>Somethingelse:</strong>
  <%= @comment16.somethingelse %>
</p>

<p>
  <strong>Something more:</strong>
  <%= @comment16.something_more %>
</p>

<%= link_to 'Edit', edit_comment16_path(@comment16) %> |
<%= link_to 'Back', comment16s_path %>
