<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @comment6.content %>
</p>

<p>
  <strong>Post:</strong>
  <%= @comment6.post %>
</p>

<p>
  <strong>Something:</strong>
  <%= @comment6.something %>
</p>

<p>
  <strong>Somethingelse:</strong>
  <%= @comment6.somethingelse %>
</p>

<p>
  <strong>Something:</strong>
  <%= @comment6.something %>
</p>

<p>
  <strong>More:</strong>
  <%= @comment6.more %>
</p>

<%= link_to 'Edit', edit_comment6_path(@comment6) %> |
<%= link_to 'Back', comment6s_path %>
