<p id="notice"><%= notice %></p>

<h1>Listing Comment14s</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Post</th>
      <th>Something</th>
      <th>Somethingelse</th>
      <th>Something more</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comment14s.each do |comment14| %>
      <tr>
        <td><%= comment14.content %></td>
        <td><%= comment14.post %></td>
        <td><%= comment14.something %></td>
        <td><%= comment14.somethingelse %></td>
        <td><%= comment14.something_more %></td>
        <td><%= link_to 'Show', comment14 %></td>
        <td><%= link_to 'Edit', edit_comment14_path(comment14) %></td>
        <td><%= link_to 'Destroy', comment14, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment14', new_comment14_path %>
