<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @comment17.content %>
</p>

<p>
  <strong>Post:</strong>
  <%= @comment17.post %>
</p>

<p>
  <strong>Something:</strong>
  <%= @comment17.something %>
</p>

<p>
  <strong>Somethingelse:</strong>
  <%= @comment17.somethingelse %>
</p>

<p>
  <strong>Something more:</strong>
  <%= @comment17.something_more %>
</p>

<%= link_to 'Edit', edit_comment17_path(@comment17) %> |
<%= link_to 'Back', comment17s_path %>
