<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @comment2.content %>
</p>

<p>
  <strong>Post:</strong>
  <%= @comment2.post %>
</p>

<p>
  <strong>Something:</strong>
  <%= @comment2.something %>
</p>

<p>
  <strong>Somethingelse:</strong>
  <%= @comment2.somethingelse %>
</p>

<p>
  <strong>Something:</strong>
  <%= @comment2.something %>
</p>

<p>
  <strong>More:</strong>
  <%= @comment2.more %>
</p>

<%= link_to 'Edit', edit_comment2_path(@comment2) %> |
<%= link_to 'Back', comment2s_path %>
