<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @comment15.content %>
</p>

<p>
  <strong>Post:</strong>
  <%= @comment15.post %>
</p>

<p>
  <strong>Something:</strong>
  <%= @comment15.something %>
</p>

<p>
  <strong>Somethingelse:</strong>
  <%= @comment15.somethingelse %>
</p>

<p>
  <strong>Something more:</strong>
  <%= @comment15.something_more %>
</p>

<%= link_to 'Edit', edit_comment15_path(@comment15) %> |
<%= link_to 'Back', comment15s_path %>
